<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="NEXUSConnection" value="4GT57bItKBVVkEpVuiknuNaTqq3Xx4j49hHl8sK/ygBwuCHRjNI1XQ9DngozUVsqFA8H3nDZJmlfbHj/GaCKkqZlNUayIfnKeEfLQoPt1gcgzT5o63sKlc9D1ed11rpF2kaWJBOjkR72eepgzuEK0+zvn7KDGSs4IR74TIq7uTT1H9nRtPzcM+LDYLcpPTl7" />
    <add key="KantarConnection" value="4GT57bItKBVVkEpVuiknuBvigAVePyr0tKackXesF8+ESBYvEUMFDBvfCcnCfCEU/eM69fpWK9pSKkrcaQjQpty/RfnaXNKqM5GahD+qXpktq9FbCUJrVJjVITg32QrhVOrxYeDqFLq1NLTz0u/GQun7OLatIye9KRSfBrs3K7yCkUEL2Ca5Sg8KmSmpN4tm/pLaPraaiSYEZVhwNVwQGg==" />
    <add key="KapiConnection" value="4GT57bItKBVVkEpVuiknuLCsC+RToMGQ84P50/E29YMsxVllr/+/ZX0ehRZqZL/nHB0L4WO7Yhg2bHbSyXX0PgoF/kQ90ElyX11a0Z9F9s0dudTXBi+yX64TT3CdKpeXbq9tiS3TeMvB6Ki1DJIDhfix4/EtBlwkxbjipUzbIsbg2oFtcl0diydQeSQC834tjb6Hki5fB295GnZvLyo38Q==" />
    <add key="ERPConnection" value="4GT57bItKBVVkEpVuiknuNaTqq3Xx4j49hHl8sK/ygBwuCHRjNI1XQ9DngozUVsqfKITHwYAVHihjIMonphQsXcOy34CEkfOqaKfJGBcm9r4LM+MxsBTMX3t0z5li/SQQY57gcOUfKgbtg5VzmuksSkEegGeD/jXvIinRf4QOi1noYBTKDJqEdefMkfzr/T2" />
    <add key="KAPI" value="J1Ed/3EiYbqaGU0IUzlS9A=="/>
    <add key="KANTAR" value="J1Ed/3EiYbqaGU0IUzlS9A==" />
    <add key="Port" value="tZzCijp6v3kK5LLlJtaKqw==" />
    <add key="BaudRate" value="5uPxAK+il+P51aBSZToRiw==" />
    <add key="Parity" value="uhgEdX6XGO0N6RTboGPwSA==" />
    <add key="StopBit" value="J1Ed/3EiYbqaGU0IUzlS9A==" />
    <add key="DataBit" value="/+f8PGYaM3jAGWNoGCt53g==" />
    <add key="HandShake" value="uhgEdX6XGO0N6RTboGPwSA==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>